# Ignore Eclipse project files
.metadata/
*.log
*.snap
*.index
*.prefs
*.xmi

# Ignore bin and build folders
bin/
build/

# Ignore IntelliJ IDEA files
.idea/
*.iml

# Ignore compiled class files
*.class

# Ignore Maven or Gradle target folders (if used)
target/
out/

# Optional: ignore OS-specific files
.DS_Store
Thumbs.db
